<!DOCTYPE html>
<html>
<head>
	<title>eyeglobe</title>
	<link rel="stylesheet" type "text/css" href="css/style.css">
	<link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
</head>
<body>
		<img class="logo" alt="Logo Image">

<nav class="top-navigation">
	<div class="content">
	<ul class="links">
		<% links ={"Home"=>"/", "WorldClique"=>"feed", "MyGlobe"=>"my_profile", "MyAccount"=>"my_account", "New Post"=>"add_post","Signout"=>"/"}%>
		<% for key, value in links do %>
			<li class="active"> <a href="<%=value%>"><%=key%></a>
			</li>
		<% end %>
	</ul>
	</div>
	<h1>
</nav>

<div class="main-content">
	<% if current_user %>
	<h1> Hello <%=current_user.fname if current_user%> | <a href="/signout">Sign out</a></h1>
	<% else %>
	<a href="/signin">sign in</a>
	<%end%>
</div>

<% if flash[:notice] %>
    <div class="flash notice">
      <%=flash[:notice] %>
    </div>
  <% end %>
  <% if flash[:alert] %>
    <div class="flash alert">
      <%=flash[:alert] %>
    </div>
<% end %>

<%=yield%>
</body>
</html>
